<!DOCTYPE html>
{% extends "rental/base.html" %}
{% load static %}

{% block body %}
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	

	<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Upload</h3>
						<ul class="breadcrumb-tree">
							<li><a href="{% url 'rentalmain' %}">Home</a></li>
							<li class="active">Upload</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					

					<form>
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Product Details</h3>
							</div>
							<div class="form-group">
								{{form.pname}}
								<!-- <input class="input" type="text" name="Name" placeholder="Product Name"> -->
							</div>
							<div class="form-group">
								<!-- <input class="input" type="text" name="" placeholder="Last Name"> -->
								{{form.email}}
							</div>
							<div class="form-group">
								<!-- <input class="input" type="email" name="email" placeholder="Email"> -->
								{{form.address}}
							</div>
							<div class="form-group">
								<!-- <input class="input" type="text" name="address" placeholder="Address"> -->
								{{form.city}}
							</div>
							<div class="form-group">
								<!-- <input class="input" type="text" name="city" placeholder="City"> -->
								{{form.phonenumber}}
							</div>
							<div class="form-group">
								<!-- <input class="input" type="text" name="Ph.No" placeholder="Phone Number"> -->
								{{form.price}}
							</div>
							<div class="form-group">
								<!-- <input class="input" type="text" name="specs" placeholder="Specifications"> -->
								{{form.specfications}}
							</div>
							
							<div class = "form-group">
								<label for="img">Select image:</label>
  								<!-- <input type="file" id="img" name="img" placeholder="Enter Product Image"accept="image/*"> -->
  								{{form.image}}
							</div>
							<!-- <div class = "form-group">
								<label for="img">Select category:</label>
								<br>
								<select class="input-select">
										<option value="0">All Categories</option>
										<option value="1">Category 01</option>
										<option value="1">Category 02</option>
									</select>
								</div> -->
								<!-- <a href="#" class="primary-btn order-submit">Upload</a> -->

						
								<input class="btn btn-primary" type="submit" name="" value="Submit">

						<!-- /Billing Details -->

						

				
					<!-- /Order Details -->
				</div></form>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div></div>
	
</form>

<div class="container">
<div class="row">
							<!-- product -->
							{% for product in products %}
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="{{product.imageURL}}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">{{product.name}}</a></h3>
										<h4 class="product-price">${{product.price}}</h4>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
											
										</div>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>View</button>
									</div>
								</div>
							</div>
							{% endfor %}
							<!-- /product -->

							</div>

							
						</div>
{% endblock %}