{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>HeltG</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Libraries  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/accounts/base.css" %}">
    {% block styles %}
    {% endblock %}
</head>
<body>
	<!-- Navbar-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  				<!-- Brand/logo -->
  		<a class="navbar-brand" href="mainpage.html">
    		<img src="{% static "images/logo1.png" %}" alt="logo" style="width:40px;">
  		</a>
  
  				<!-- Links -->
  		<ul class="navbar-nav ml-auto">
    		<li class="nav-item">
      			<a class="nav-link" href="#">About us</a>
    		</li>
   			<li class="nav-item">
     			<a class="nav-link" href="{% url 'contactus' %}">Contact us</a>
    		</li>
  		</ul>
	</nav>



	{% block form-block %}

	{% endblock %}


	<!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Our Main Goal is to help thoes people who want to stay fit and healthy without Help of a professional or going to a dedicated classes. So no more going to thoes busy places, work out peacefully from your home.
People can also Rent training equipments from other people through our website. No need to buy!</p>
          </div>

          <div style="padding-left: 250px;"></div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="{% url 'contactus' %}">About Us</a></li>
              <li><a href="{% url 'contactus' %}">Contact Us</a></li>
				<!-- <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>-->   
           		<li><a href="{% url 'contactus' %}">Privacy Policy</a></li>
              <!-- <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li> -->
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by HeltG</p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
	</footer>







    <!-- Libraries  -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>