<!DOCTYPE html>

{% extends "accounts/base.html" %}
{% load static %}
    
{% block styles %}
	<script type="text/javascript" src="functions.js"></script>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	   <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="{% static "css/main/swiper.css" %}" rel="stylesheet">
	<link href="{% static "css/main/magnific-popup" %}" rel="stylesheet">
	<link href="{% static "css/main/styles.css" %}" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{% static "css/accounts/base.css" %}">

{% endblock %}
{% block form-block %}
    <div id="contact" class="form-2">
        <div class="container-fluid bg-dark mt-0">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="section-title text-light my-5">CONTACT US</div>
                        <h2 class="text-light">Get In Touch Using The Form</h2>
                        <p class="text-light">You can stop by our office for a cup of coffee and just use the contact form below for any questions and inquiries</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="address text-light"><i class="fa fa-map-marker text-muted"></i>Plot Nos 8-11, TechZone 2, Greater Noida, Uttar Pradesh 201310
                            <li><i class="fa fa-phone text-muted"></i><a href="tel:003024630820 text-light">+91 9571065665</a></li>
                            <li><i class="fa fa-phone text-muted"></i><a href="tel:003024630820 text-light">+91 9567849999</a></li>
                            <li><i class="fa fa-envelope text-muted"></i><a href="mailto:office@aria.com text-light">arnavk4367@gmail.com</a></li>
                        </ul>
                        <h3 class="text-light">Follow HeltG On Social Media</h3>

                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fa fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fa fa-pinterest fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fa fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fa fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                        
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    
                    <!-- Contact Form -->
                    <form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <!-- <input type="text" class="form-control-input mt-5" id="cname" required> -->
                            {{cform.name}}
                            <label class="label-control" for="cname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <!-- <input type="email" class="form-control-input" id="cemail" required> -->
                            {{cform.email}}
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <!-- <textarea class="form-control-textarea" id="cmessage" required></textarea> -->
                            {{cform.message}}
                            <label class="label-control" for="cmessage">Your message</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button bg-primary mb-5">SUBMIT MESSAGE</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-2 -->
    <!-- end of contact -->
    <div class="jumbotron ">
  <div class="container">
  	<h1 class="text-center mb-5 mt-4">Terms And Conditions</h1>
    <h2>Requirements from users:</h2>
    <p>The Application HeltG will require data like Email address, Phone Number, Name, Address and City from all users who want to register and use our application. We will also require feedback on our application from time to time from users based on their opinion on our application. We will also require access to camera to monitor the motion of user to count the number of times an exercise is performed or to verify that the exercise performed is correct or not. However, their videos will not be recorded for any purpose. Any user cannot object to these requirments.</p>
    <br>
    <p>
	In case of using our rental services, the location of the site from where to pick up from will be required, along with pictures of the actual product. For which, the application will use camera from the user who wants to upload.  The organization will record every posts made for sale/rent.</p><br><p>
	For the trainers, background check will be required for security of their clients.  They will need to open their GPS location while on work from our camera, as well as their monthly physician reports will be required for their health monitoring.</p><br><p>
	Third party applications will be displayed to the user, until and unless the user does some required payment/activity/purchase from the application mentioned by the organization.
    </p><br>
    <h2>Usage of personal information:</h2>
    <p>
	The application will not ask for any unnecessary information from the users. The feedback forms on our models and services will only be used for the development of the application.</p><br><p> 
    The information like phone number, email address and location will be displayed to other users only if they are required to that is if the user wants to upload an object for sell/rent, and thus, will need some details to be displayed to other customers.</p><br><p>

     The medical record of the trainers will not be used apart from evaluating the physical fitness from the organization.</p><br>
     <h2>Protection of data:</h2>
     <p>
	The data provided by the users will not be sold/ shared to any other firm. The data will only be used by the organization.  The data of the users will be protected and secured in case a user forgets his/her password in the cloud storage and can be accessed by the individual by verifying from their email id. The users are suggested to keep a strong password and not share it with other individuals. If a breach occurs in such a case, the organization will not be responsible. </p><br><p>
	However, the organization might share data with the concerned authority of the region if the same falls under the region’s legal jurisdiction. The company will also share the individual’s data with the regional authority if any criminal activity/ involvement of the individual is found by the authority and is requested by it.</p><br><p>
	All the advertisements will be from third party and the organization will have no responsibility in case of data breach / money fraud or any illegal cyber activity/crime. The individual will be held responsible for the same.</p>
	<h2>Advertisements</h2>
	<p>All the advertisements provided in the application are third party. The application takes no responsibility if a user makes any purchase from them. However, any inappropriate advertisement can be reported to the organization.</p>



  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static "js/main/jquery.min.js" %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{% static "js/main/popper.min.js" %}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{% static "js/main/bootstrap.min.js" %}"></script> <!-- Bootstrap framework -->
    <script src="{% static "js/main/jquery.easing.min.js" %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{% static "js/main/swiper.min.js" %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{% static "js/main/jquery.magnific-popup.js" %}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{% static "js/main/morphext.min.js" %}"></script> <!-- Morphtext rotating text in the header -->
    <script src="{% static "js/main/isotope.pkgd.min.js" %}"></script> <!-- Isotope for filter -->
    <script src="{% static "js/main/validator.min.js" %}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="{% static "js/main/scripts.js" %}"></script> <!-- Custom scripts -->
<script src="{% static "js/main/swiper.min.js" %}"></script> <!-- Swiper for image and text sliders -->
{% endblock %}