{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>HeltG</title>
	 <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/exercise/squat.css" %}">

	  
</head>
<body>
	
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="mainpage.html">
    <img src="{% static "images/icon.jpeg" %}" alt="logo" style="width:40px;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contactus' %}">About us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contactus' %}">Contact us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'rentalmain' %}">Rent Equipments?</a>
    </li>
  </ul>
</nav>
	<div>
		<h1 class="text-success text-center text-capitalize  font-weight-bold" >PushUp</h1>	
	</div>
  <section>
    <div class="row">

  <div class="col-lg-4">
  	<br>
  	<br><img src="{% url 'video_feedp' %}">

</div>
  <div class="col-lg-4" style="padding-left: 100px;">
  	<img src="{% static "images/Push-Up.gif" %}">

    <iframe width="420" height="315" src="https://www.youtube.com/embed/IODxDxX7oi4?start=32" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
  <div class="col-lg-4 d-flex  ">
    <div class="container-fluid mt-5  "> 

   <div class="jumbotron">
  <h1>Wanna Know More?</h1>
  <p><a href="https://www.verywellfit.com/the-push-up-exercise-3120574"  target="_blank"> click here!</a></p>
</div>  

<div class="final">
  <h1>Time is Up!</h1>
</div>

    
   

        <div class="text-center "> 
            <button type="button" class="btn btn-success  btn-block">Go Back</button>
                    
        <span style="display:inline-block; width: 50%;"></span>
        
        <button type="button" class="btn btn-primary btn-block">Next</button> 
                <span style="display:inline-block; width: 50%;"></span>
    
        <button type="button" class="btn btn-danger btn-block">Quit?</button>       


         </div>
     
    
    <br>
    <br>
    <br>
    <br>
  <div id="progressTimer">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://www.jqueryscript.net/demo/Easy-jQuery-Progress-Bar-Timer-Plugin-For-Bootstrap-3-progressTimer/js/jquery.progressTimer.js'></script>
    <script>
        $("#progressTimer").progressTimer({

            timeLimit: 20,
            warningThreshold: 10,
            baseStyle: 'progress-bar-warning',
            warningStyle: 'progress-bar-danger',
            completeStyle: 'progress-bar-info',

            onFinish: function() {
                console.log("I'm done");
            }
        });
    </script></div>
  </div>

  </div>

</div>
</div>
  </section>
  
<script type="text/javascript">
     const nums = document.querySelectorAll('.nums span');
const counter = document.querySelector('.counter');
const finalMessage = document.querySelector('.final');
const repl = document.getElementById('replay');

runAnimation();

function resetDOM() {
  counter.classList.remove('hide');
  finalMessage.classList.remove('show');
    
  nums.forEach(num => {
    num.classList.value = '';
  });

    nums[0].classList.add('in');
}

function runAnimation() {
  nums.forEach((num, idx) => {
    const penultimate = nums.length - 1;
    num.addEventListener('animationend', (e) => {
      if(e.animationName === 'goIn' && idx !== penultimate){
        num.classList.remove('in');
        num.classList.add('out');
      } else if (e.animationName === 'goOut' && num.nextElementSibling){
        num.nextElementSibling.classList.add('in');
      } else {
        counter.classList.add('hide');
        finalMessage.classList.add('show');
      }
    });
  });
}

repl.addEventListener('click', () => {
  resetDOM();
  runAnimation();
});

   </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>